<div class="form-group answer mix" style="display: inline-block; width: 100%">
    <div class="input-group">
        <span class="input-group-addon">
            {{vote}}
        </span>
        <div class="form-control">
<!--            <img src="http://static-cdn.jtvnw.net/ttv-boxart/Crash%20Bandicoot%204%3A%20It's%20About%20Time-26x36.jpg" style="margin-bottom: 5px;"> Crash Bandicoot 4: It's About Time&nbsp;-->
            {{title}}
            <span style="color: grey; font-size: 10px;">
                {{desc}}
            </span>
        </div>
    </div>
</div>