/*========== admin page styles ==========*/

.gameEditBlock {
    display: block;
    float: left;
    margin: 10px;
    width: 250px;
}
.gameEditBlock .row {
    margin: 2px;
    width: calc(100% - 4px);
    min-height: 25px;
}
.gameEditBlock .rightInput {
    width: 60px;
    float: right;
}
#loginLink {
    display: block;
    position: absolute;
    width: 262px;
    height: 142px;
    margin: 157px 0 0 322px;
}
.gameEditBlock textarea {
    font-family: sans-serif;
    font-size: 12px;
    height: 45px;
    width: 246px;
    resize: none;
}

#kitty {
    width: 80px;
    height: 80px;
    float: right;
    opacity: 0;
}
#kitty:hover {
    opacity: 1;
}

.userEditBlock {
    display: block;
    float: left;
    margin: 10px;
    width: 250px;
    border: 1px solid grey;
}
.userEditBlock * {
    margin: 2px;
}
.userEditBlock span {
    display: block;
}
.userEditBlock input[type=text] {
    width: 246px;
}
.userEditBlock input[type=checkbox] {
    float: right;
}
.userEditBlock div.saveButton input[type=submit] {
    width: 248px;
    margin-left: -1px;
}

#pollOptionTemplate {
    display: none;
}