<link rel="stylesheet" type="text/css" href="/bundles/index/styles/admin/style.css">
<script src="/bundles/index/scripts/admin/index.js"></script>

<a href="/bioadminr/polls">&lt; К списку голосований</a>
<form action="" method="post">
    <table style="width: 100%" id="editPollTable">
        <tr>
            <td>Название</td>
            <td><input type="text" name="pollTitle" value="{{pollTitle}}" style="width: 100%"></td>
        </tr>
        <tr id="pollOptionTemplate">
            <td width="300px">
                <input type="text" class="title">
                <div class="gameList"></div>
            </td>
            <td><input type="text" class="desc" style="width: 100%"></td>
            <td><button type='button' class='removeOption'>-</button></td>
        </tr>
        {{tableRows}}
        <tr id="lastRow">
            <td><button type="button" id="addOption">+</button></td>
        </tr>
    </table>

    <hr>
    <button type="submit">Сохранить</button>
</form>