<form method="post">
    <div class="gameEditBlock">
        <span>ID: {{gameId}}<input name="id" value="{{gameId}}" type="hidden"></span>
        <input name="title" placeholder="Название" value="{{gameTitle}}" type="text">
        {{statusSelector}}
        <textarea name="comment" placeholder="Коммент" type="text" maxlength="200">{{gameComment}}</textarea>
        <input name="poll_count" placeholder="Предлагали в голосовании" value="{{gamePollCount}}" type="number">
        <input name="votes_count" placeholder="Набрала голосов" value="{{gameVotes}}" type="number">
        <input name="type" value="game" type="hidden">
        <div class="saveButton">
            <input value="Save" type="submit">
        </div>
    </div>
</form>
